body{
    font-family: 'The Nautigal', cursive;
    text-align: center;
    background-color: salmon;
}
p{
    font-size: 30px;
    color: red;
}
h2{
    color: blue;
}
h3{
    font-size: 30px;
    font-weight: bolder;
    color: darkred;
}
#start{
    font-family: cursive;
    font-size: 25;
    font-style: italic;
}
.copy_right_footer{
    color: yellow;
    font-size: 35px;

    background: green;
    margin-top: 30px;
    bottom: 0;
    position:fixed;
    width:100%
}
.main_div{
margin-top: 30px;
font-family: cursive;
}